<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCr6_DFqjw4St_px4MnKmgxWb7_LLH2vNE</string>
	<key>GCM_SENDER_ID</key>
	<string>27538477845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterBookingApp</string>
	<key>PROJECT_ID</key>
	<string>barber-booking-app-2ad2b</string>
	<key>STORAGE_BUCKET</key>
	<string>barber-booking-app-2ad2b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:27538477845:ios:dd4f2e2df6bc34d5414f1c</string>
</dict>
</plist>
